:root {
  --white: #ffffff;
}

@font-face {
  font-family: "Rage Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Rage Italic"), url("../fonts/RAGE_1.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../fonts/Segoe\ UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"),
    url("../fonts/Segoe\ UI\ Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"),
    url("../fonts/Segoe\ UI\ Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("../fonts/Segoe\ UI\ Bold\ Italic.woff") format("woff");
}

@font-face {
  font-family: "gothic";
  src: local("gothic"), url("../fonts/gothic.woff") format("woff");
}

.rage-italic {
  font-family: "Rage Italic";
}

.segoe-ui {
  font-family: "Segoe UI Regular";
}

body {
  position: relative;
  font-family: "gothic";
  padding-top: 100px;
  top: 0 !important;
}

a {
  white-space: nowrap;
}

ul {
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  z-index: 100;
  transition: all 0.2s linear;
  background: rgb(25, 27, 40);
  background: linear-gradient(
    90deg,
    rgba(25, 27, 40, 1) 30%,
    rgb(36, 24, 28) 100%
  );
  nav {
    background-color: transparent;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
    .logo {
      margin-right: auto;
      // background-color: #fff;
      img {
        height: 60px;
      }
    }

    ul {
      list-style: none;
      margin: auto;
      padding: 0;
      display: flex;
      li {
        a {
          padding: 0 15px;
          line-height: 60px;
          text-decoration: none;
          color: var(--white);
          letter-spacing: 1px;
          font-weight: 600;
          font-size: 16px;
          transition: all 0.2s linear;
          &:hover {
            color: #ffb905;
          }
        }
      }
    }

    .buy-btn {
      height: 45px;
      line-height: 35px;
      text-decoration: none;
      border: 0;
      background-color: orange;
      padding: 5px 40px;
      border-radius: 50px;
      color: var(--white);
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
    }

    .menu-btn {
      display: none;
    }
  }

  &.shrink {
    padding: 5px;
    nav {
      max-width: 95%;
      // ul {
      //   li {
      //     a {
      //       padding: 0 15px;
      //       font-size: 16px;
      //     }
      //   }
      // }
    }
  }
}

.hero-section {
  position: relative;
  min-height: 100vh;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(25, 27, 40);
    background: linear-gradient(
      90deg,
      rgba(25, 27, 40, 1) 30%,
      rgb(36, 24, 28) 100%
    );
    clip-path: polygon(50% 78.13%, 100% 100%, 100% 0%, 0% 0%, 0% 100%);
    z-index: -1;
  }

  .bg-animation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .content {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    .content-title {
      position: relative;
      display: inline-block;
      .arrow {
        position: absolute;
        left: -166px;
        top: -25px;
        width: 150px;
      }
      span.sub-title {
        font-size: 2rem;
        font-weight: 700;
        font-family: "Rage Italic";
        color: #ffb905;
      }
    }
    h1 {
      color: var(--white);
      line-height: 1.2;
      font-size: 3rem;
      text-transform: uppercase;
      font-family: "Segoe UI Bold";
      // font-weight: 300;
      // letter-spacing: 1px;
      span {
        background: linear-gradient(181deg, #facc22 30%, #f83600 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      font-size: 1.1rem;
      font-weight: 600;
      font-family: "gothic";
      color: var(--white);
      opacity: 0.8;
      width: 75%;
      margin: 0 auto;
      letter-spacing: 1px;
    }

    .btn-grp {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      img {
        height: 40px;
      }
    }
  }

  .screen1 {
    margin-top: -55px;
  }
}

.row > div {
  position: relative;
}

.section-space {
  padding: 80px 0;
  position: relative;
}

.landing-title {
  margin-bottom: 30px;
  .sub-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Rage Italic";
    color: #ffb905;
  }

  h2 {
    font-family: "Segoe UI Bold";
    text-transform: uppercase;
    font-size: 2.55rem;
    .grad-1 {
      background: linear-gradient(90deg, #26b2fa 30%, #ff544f 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "gothic";
    opacity: 0.8;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 0.5px;
  }
}

.vector-img {
  position: absolute;
  top: 0;
  left: -20px;
  img {
    height: 360px;
  }
}

svg {
  vertical-align: baseline;
}

.benefit-box {
  position: relative;
  background: rgba(241, 242, 242, 0.5);
  padding: 40px 10px;
  box-shadow: 17px 17px 20px rgba(186, 186, 187, 0.3);
  border-radius: 30px;
  svg {
    width: 40px;
    height: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 54px;
    height: 8px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
  }
  &.pink {
    &::after {
      background: #ff3692;
    }
    h2 {
      color: #ff3692;
      font-weight: 600;
    }
  }

  &.purple {
    &::after {
      background: #7238ff;
    }
    h2 {
      color: #7238ff;
      font-weight: 600;
    }
  }

  &.red {
    &::after {
      background: #ff3556;
    }
    h2 {
      color: #ff3556;
      font-weight: 600;
    }
  }

  &.warning {
    &::after {
      background: #ffaa05;
    }
    h2 {
      color: #ffaa05;
      font-weight: 600;
    }
  }

  h6 {
    font-weight: 600;
    color: #52526c;
  }
}

.solutions {
  .demo-content {
    cursor: pointer;
  }
  .content {
    overflow: hidden;
    .couting {
      h2 {
        color: var(--theme-deafult);
        font-weight: 500;
        font-family: "Segoe UI Bold";
        font-size: 7.5rem;
        background: linear-gradient(
          180deg,
          #5456aa 0%,
          rgba(0, 2, 72, 0) 88.85%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0;
        line-height: 1;
        opacity: 0.1;
        white-space: nowrap;
      }
    }
  }
}

.service-page {
  .landing-title {
    p {
      width: 70%;
    }
  }

  .yt-box {
    iframe {
      width: 90%;
      height: 340px;
      box-shadow: 0 0 30px 10px rgba(115, 114, 114, 0.3);
      border-radius: 5px;
    }
  }

  .solution-box {
    width: 220px;
    height: 100%;
    background-color: #f5f5f5;
    box-shadow: -17px 17px 20px rgba(186, 186, 187, 0.3);
    border-radius: 15px;
    margin: 10px auto;
    padding: 25px 20px 20px 20px;

    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: 15px;

      &.purple {
        background-color: #deb5dd;
      }

      &.brown {
        background-color: #c5b5b6;
      }

      &.bluegreen {
        background-color: #b5c0c4;
      }

      &.violet {
        background-color: #bbb5c4;
      }
    }

    .title {
      font-weight: 500;
      font-size: 20px;
      font-family: "Segoe UI Bold", sans-serif;
      margin-bottom: 20px;
      &.purple {
        color: #a0009e;
      }

      &.brown {
        color: #380000;
      }

      &.bluegreen {
        color: #002c39;
      }

      &.violet {
        color: #241141;
      }
    }

    &.box2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 18px;
      }
    }

    h2 {
      font-weight: 900;
      font-size: 25px;
      font-family: "Segoe UI Bold", sans-serif;
    }
    p {
      font-family: "Segoe UI Regular", sans-serif;
      margin: 0;
    }
  }

  .solution-box-2 {
    width: 100%;
    height: 345px;
    background-color: #f5f5f5;
    box-shadow: -17px 17px 20px rgba(186, 186, 187, 0.3);
    border-radius: 15px;
    margin: 10px auto;
    padding: 25px 20px 20px 20px;

    .sb-icon {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-bottom: 15px;
    }

    .title {
      font-weight: 500;
      font-size: 20px;
      font-family: "Segoe UI Bold", sans-serif;
      margin-bottom: 20px;
      &.purple {
        color: #a0009e;
      }

      &.brown {
        color: #380000;
      }

      &.bluegreen {
        color: #002c39;
      }
    }
    p {
      font-family: "Segoe UI Regular", sans-serif;
      margin: 0;
    }
  }

  .solution-box-3 {
    width: 100%;
    height: 230px;
    background-color: #f5f5f5;
    box-shadow: -17px 17px 20px rgba(186, 186, 187, 0.3);
    border-radius: 15px;
    margin: 10px auto;
    padding: 30px;

    .title {
      font-weight: 500;
      font-size: 20px;
      font-family: "Segoe UI Bold", sans-serif;
      margin-bottom: 20px;
      text-align: center;
      &.purple {
        color: #a0009e;
      }

      &.brown {
        color: #380000;
      }

      &.bluegreen {
        color: #002c39;
      }
    }
    p {
      font-family: "Segoe UI Regular", sans-serif;
      margin: 0;
      text-align: center;
    }
  }
}

.package-details {
  .yt-box {
    margin-bottom: 30px;
    iframe {
      width: 100%;
      height: 280px;
      box-shadow: 0 0 30px 10px rgba(115, 114, 114, 0.3);
      border-radius: 5px;
    }
  }

  .img-box {
    width: 100%;
    margin-bottom: 30px;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  h2 {
    font-weight: 500;
    font-family: "Segoe UI Bold";
  }

  h5 {
    font-weight: 600;
  }

  p {
    font-family: "Segoe UI Regular";
  }

  .price-box {
    text-decoration: line-through;
    text-align: center;
  }

  .arrow {
    text-align: center;
    img {
      max-height: 80px;
    }
  }

  .current-price-box {
    text-align: center;
  }
}

.fluid-space {
  padding: 0 calc(10px + 70 * (100vw - 300px) / 1620);
}

.demo-imgs {
  margin: -15px;
  .demo-content {
    &:hover {
      img {
        transform: scale(1.4);
      }
    }

    .cuba-demo-img {
      box-shadow: 0px 9px 40px rgba(46, 35, 94, 0.15);
      border-radius: 5px;
      position: relative;
      height: 100%;
      padding: 10px;
      .overflow-hidden {
        img {
          width: 100%;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          height: 420px;
          object-fit: cover;
        }
      }

      p {
        margin-top: 10px;
        margin-bottom: 0;
        text-align: start;
        font-weight: 600;
      }
    }
    .title-wrapper {
      padding: 10px 0;
      .theme-name {
        position: relative;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
  ul.dot-group {
    display: flex;
    gap: 6px;
    padding: 0;
    li {
      width: 8px;
      height: 8px;
      background: #e8e8ec;
      border-radius: 100%;
    }
  }
}

.feature-box {
  padding: 30px 20px;
  text-align: left;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    background: transparent;
    border-radius: 0 0 10px 10px;
    transition: width 0.5s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.5s;
  }

  .feature-icon {
    img {
      height: 26px;
      width: 100%;
    }
  }

  &.bg-feature-1 {
    &::after {
      background: rgb(255 61 61 / 100%);
    }
    .feature-icon {
      background: rgb(255 61 61 / 15%);
    }
  }

  &.bg-feature-2::after {
    background: rgb(151 84 255 / 100%);
  }
  &.bg-feature-2 .feature-icon {
    background: rgb(151 84 255 / 15%);
  }

  &.bg-feature-3::after {
    background: rgb(80 174 255);
  }

  &.bg-feature-3 .feature-icon {
    background: rgb(80 174 255 / 15%);
  }

  &.bg-feature-4 .feature-icon {
    background: rgb(118 198 114 / 15%);
  }

  &.bg-feature-4::after {
    background: rgb(118 198 114);
  }

  &.bg-feature-5 .feature-icon {
    background: rgb(238 122 135 / 15%);
  }

  &.bg-feature-5::after {
    background: rgb(238 122 135);
  }

  &.bg-feature-6 .feature-icon {
    background: rgb(255 182 109 / 15%);
  }

  &.bg-feature-6::after {
    background: rgb(255 182 109);
  }

  &.bg-feature-7 .feature-icon {
    background: rgb(255 167 120 / 15%);
  }

  &.bg-feature-7::after {
    background: rgb(255 167 120);
  }

  &.bg-feature-8 .feature-icon {
    background: rgb(229 129 255 / 15%);
  }

  &.bg-feature-8::after {
    background: rgb(229 129 255);
  }

  h5 {
    font-weight: 600;
  }

  .feature-icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 25px;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
  }
}

.feature-section .vector-img {
  right: 60px;
  top: 70px;
  left: auto;
  img {
    height: 220px;
  }
}

.common-card {
  background: #fcfcfd;
  border: 2px solid #fff;
  box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
  border-radius: 10px;
  height: 250px;
}

.customer-review {
  .rating-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rating-title {
    font-size: calc(14px + 6 * (100vw - 300px) / 1620);
    font-weight: 700;
    .decore-1 {
      margin-top: -35px;
      animation: animationtop 5s infinite;
    }
  }
  .ratings li i {
    color: #ffaa05;
  }

  .f-light {
    color: #52526c;
    opacity: 0.8;
  }

  .customer-wrap {
    margin: 0 -28px;
    .customer-wrapper {
      position: relative;
      padding: 12px;
      .customer-box {
        position: relative;
        background-color: #f7f7f7;
        text-align: center;
        padding: 40px 30px;
        border-radius: 25px;
        box-shadow: 30px 30px 33px rgba(119, 119, 119, 0.25);
        img {
          height: 70px;
          width: auto;
        }
        h6 {
          font-weight: 600;
          font-size: 1rem;
        }
      }

      .outline-box {
        position: absolute;
        bottom: -6px;
        left: -5px;
      }
    }
  }
  .customer-wrap > div {
    padding: 0 28px;
  }
}

@keyframes animationtop {
  0% {
    transform: translate(-10px, -5px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-10px, -5px);
  }
}

.section-6 {
  position: relative;
  .landing-title {
    display: flex;
    align-items: center;
    h2 {
      width: 53%;
      color: rgb(0, 2, 72);
      font-weight: 700;
    }

    .title-img {
      transform: rotateX(-180deg);
      width: 300px;
      margin-left: -90px;
      margin-top: -50px;
    }
  }

  .rotate-title {
    width: 15%;
    transform: rotate(-20.97deg);
    text-align: center;
    color: #ff5fa3;
    font-size: 1.6rem;
    margin-left: -30px;
  }

  .build-image img {
    width: 100%;
  }

  .build-content {
    p {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
}

.section-7 {
  .app-box {
    padding: 18px 12px 12px;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    background: #f9f7f7;
    box-shadow: 0px 3px 20px rgba(46, 35, 94, 0.2);
    h6 {
      color: #52526c;
      margin: 0 12px 0 0;
      position: relative;
      .app-title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-weight: 600;
      }
    }
    .app-image {
      flex: auto;
      .img-effect {
        box-shadow: 0px 3px 20px rgba(46, 35, 94, 0.1);
        border-radius: 5px;
        &.image-height {
          a {
            img {
              height: auto;
            }
          }
        }
      }
      a {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    ul.dot-group {
      padding: 0 0 13px;
      display: flex;
      gap: 6px;
      li {
        width: 8px;
        height: 8px;
        background: #b2b2b2;
        border-radius: 100%;
      }
    }
  }
}

.section-8 {
  .component-hover-effect {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background: #fcfcfd;
    border: 2px solid #fff;
    box-shadow: 0px 4px 15px rgba(46, 35, 94, 0.15);
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    min-height: 78px;
    h5 {
      font-weight: 700;
      margin-bottom: 0;
      color: rgb(0, 2, 72);
    }
    h4,
    small {
      font-weight: 700;
      color: rgb(0, 2, 72);
    }
  }
}

.animate-slider {
  .cards-image {
    img {
      width: 100%;
    }
  }
}

.fluid-space {
  padding: 0 calc(10px + 70 * (100vw - 300px) / 1620);
}

.bottom-section-grad {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #edf7ff -3.32%,
      rgba(227, 242, 255, 0) 144.14%
    );
    opacity: 0.7;
    height: 100%;
    width: 100%;
  }
}

.testimonials {
  .slick-slide {
    padding: 0 14px;
  }
  .testimonial-box {
    position: relative;
    padding: 20px 25px;
    text-align: left;
    margin-bottom: 33px;
    .rating-content {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;
      h6 {
        font-weight: 600;
      }
      .ratings li i {
        color: #ffaa05;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 0;
    }
    h5 {
      font-size: 16px;
      margin-bottom: 0;
      font-weight: 600;
    }
    span {
      font-size: 13px;
    }
    .customer-img {
      width: 60px;
      height: 60px;
      background: #fffafa;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -25px;
    }
  }
  .common-card {
    background: #fcfcfd;
    border: 2px solid #fff;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    border-radius: 10px;
    height: auto;
  }
}

.testimonial-slider .slick-dots li {
  width: auto;
  height: auto;
}

.testimonial-slider .slick-dots li button {
  background: rgba(82, 82, 108, 0.2);
  border-radius: 20px;
  height: 5px;
  width: 11px;
  padding: 0;
  transition: all 0.5s;
  &::before {
    opacity: 0;
    display: none;
  }
}

.testimonial-slider .slick-dots li.slick-active button {
  background: #7366ff;
  border-radius: 20px;
  width: 20px;
  transition: all 0.5s;
}

.createAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .prim-btn {
    height: 45px;
    line-height: 35px;
    text-decoration: none;
    border: 0;
    background: linear-gradient(90deg, #7366ff -18.33%, #563ee0 62.78%);
    padding: 5px 40px;
    border-radius: 50px;
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.pricing {
  .landing-title {
    p {
      width: 100%;
    }
  }

  .pricing-box {
    box-shadow: 0px 0px 20px rgba(46, 35, 94, 0.2);
    padding: 8px;
    .purchase-details {
      text-align: center;
      padding: 15px 0;
      h2 {
        font-weight: 600;
        margin-bottom: 15px;
      }
      .btn {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}

.faq-section .vector-image {
  position: absolute;
  left: 60px;
  top: -30px;
}

.faq-section .vector-image img {
  height: 270px;
}

.faq-section .accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-section .accordion .accordion-item {
  background: #fcfcfd;
  border: 2px solid #fff;
  box-shadow: 0px 4px 10px rgba(46, 35, 94, 0.07);
  border-radius: 10px;
  padding: 22px 30px;
}

.faq-section .accordion-button:not(.collapsed) {
  color: #7366ff;
  background: transparent;
  box-shadow: none;
}

.faq-section .accordion-button:focus {
  box-shadow: unset;
  border: none;
}

.faq-section .accordion-button,
.faq-section .accordion-body {
  padding: 0;
}

.faq-section .accordion-body {
  padding-top: 14px;
  margin-top: 14px;
  border-top: 1px solid rgba(82, 82, 108, 0.5);
  text-align: left;
}

.contactSection {
  position: relative;
  .secImage {
    position: absolute;
    top: -130px;
    left: -10px;
    height: 110vh;
    img {
      height: 100%;
      max-height: 780px;
    }
  }

  .form-control,
  .form-select {
    background-color: rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    font-weight: 600;
    padding: 16px 20px;
    font-size: 1rem;
    border: 0;
  }

  .btn {
    padding: 10px 35px;
    font-family: "Segoe UI Regular";
    border-radius: 3px;
  }
}

.blogs-page {
  .card {
    .card-img-top {
      height: 235px;
      object-fit: cover;
    }
  }
}

.sidebar-widget {
  .sidebar-widget-title {
    font-weight: 600;
    margin-bottom: 20px;
  }

  ul {
    li {
      margin-bottom: 10px;
      a {
        position: relative;
        color: rgb(0, 2, 72);
        font-family: "Segoe UI Regular";
        text-decoration: none;
        font-size: 20px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.select2-selection__rendered {
  text-align: start;
  line-height: 56px !important;
}
.select2-container .select2-selection--single {
  height: 56px !important;
}
.select2-container--default .select2-selection--single {
  background-color: rgba(0, 0, 0, 0.065);
  padding: 0 12px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  border: 0;
  &:focus-visible {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 56px !important;
  right: 5px !important;
  width: 25px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--bs-body-color);
}

footer {
  color: #bdbdbd;
  .text-warning {
    color: #ffb905 !important;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: #bdbdbd;
        transition: all 0.2s ease;
        &:hover {
          color: #ffb905;
        }
      }
    }
  }
}

@media (max-width: 1670px) {
  .demo-imgs > div {
    padding: 15px;
    margin: 0;
  }
}

@media (max-width: 1500px) {
  .contactSection {
    .secImage {
      top: -90px;
      left: -40px;
      height: 90vh;
    }
  }
}

@media (max-width: 1024px) {
  body {
    padding-top: 0;
  }

  header {
    position: relative;
    padding: 5px;
    nav {
      .buy-btn {
        height: 35px;
        line-height: 25px;
        padding: 5px 16px;
        font-size: 16px;
      }

      .menu-btn {
        background-color: transparent;
        border: 0;
        outline: 0;
        color: #fff;
        font-size: 2rem;
        margin-right: 10px;
        display: block;
      }
    }

    .menu-items {
      position: absolute;
      top: 70px;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      padding: 0;
      height: 0;
      transition: all 0.5s ease;
      opacity: 0;
      visibility: hidden;

      &.show {
        padding: 15px 0;
        height: 430px;
        opacity: 1;
        visibility: visible;
      }
      li {
        padding-left: 25px;
        a {
          color: #002c39;
          line-height: 50px;
        }

        &.trans_btn {
          height: 50px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }

  .landing-title h2 {
    font-size: 1.4rem;
    width: 100% !important;
  }

  .customer-review .customer-wrap {
    margin: 0;
  }

  .customer-review .customer-wrap .customer-wrapper .outline-box {
    display: none;
  }

  .customer-review .customer-wrap > div {
    padding: 10px;
  }

  .customer-review .customer-wrap .customer-wrapper .customer-box h6 {
    font-weight: 600;
    font-size: 0.825rem;
  }

  .customer-review .customer-wrap .customer-wrapper {
    padding: 0;
  }

  .customer-review .customer-wrap .customer-wrapper .customer-box {
    padding: 25px 15px;
  }

  .faq-section .vector-image img {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-section {
    height: auto;
    min-height: auto;

    &::before {
      clip-path: polygon(50% 87%, 100% 100%, 100% 0%, 0% 0%, 0% 100%);
    }

    .content {
      padding-top: 75px;
      .content-title {
        span.sub-title {
          font-size: 1.5rem;
        }
        .arrow {
          position: absolute;
          left: -110px;
          top: -10px;
          width: 100px;
        }
      }

      .btn-grp {
        gap: 35px 70px;
        flex-wrap: wrap;
      }

      h1 {
        font-size: calc(25px + 35 * (100vw - 300px) / 1620);
      }

      p {
        width: 100%;
      }
    }

    .screen1 {
      margin-top: 25px;
    }
  }

  .vector-img {
    img {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

  .contactSection {
    .secImage {
      display: none;
    }
  }

  .landing-title p {
    width: 100%;
  }

  .service-page .solution-box {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 15%);
    border-radius: 15px;
    margin: 10px auto;
    padding: 25px;
  }
}

.custom-tooltip {
  --bs-tooltip-bg: #26b2fa;
  --bs-tooltip-color: white;
}

#google_translate_element select {
  margin: 0;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  border: 0;
  background-color: orange;
  padding: 5px 0 5px 15px;
  border-radius: 50px;
  color: var(--white);
  font-size: 16px;
}

.goog-logo-link {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget {
  font-size: 0px;
}

#google_translate_element {
  color: transparent;
  margin-right: 15px;
  height: 35px;
}

#google_translate_element a {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.skiptranslate iframe {
  display: none;
}

// .goog-te-gadget-icon {
//   display: none;
// }

// .goog-te-gadget-simple {
//   background-color: #ecebf0 !important;
//   border: 0 !important;
//   font-size: 10pt;
//   font-weight: 800;
//   display: inline-block;
//   padding: 10px 10px !important;
//   cursor: pointer;
//   zoom: 1;
//   border-radius: 30px;
// }

// .goog-te-gadget-simple span {
//   color: #3e3065 !important;
// }

@media (max-width: 768px) {
  #google_translate_element select {
    margin-top: 0;
  }
}
